@model IEnumerable<PersonalChat.Models.Message>
@{ 
    ViewData["Title"] = "Personal Chat";
    var userName = User.Identity.Name;
}

<div class="jumbotron bg-light">
    <h2 class="text-center text-primary">Personal Chat</h2>

    <div class="row">
        <div id="chat" class="col-md-12">

        </div>
    </div>
</div>